.Copywrite {
    color: white;
    background-color: rgb(16 15 15 / 86%);
    margin-top: 8px;
    height: 33px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
}